{% load static %}

<link rel="stylesheet" href="{% static 'core/css/style.css' %}?v=1">

<div class="container-fluid">
    <footer class="text-center text-lg-start">
        <div class="container-fluid">
            <section>
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6>TIMEZONE</h6>
                        <p>
                            A premium destination for elegant and versatile timepieces, crafted to complement every journey and occasion. 
                            Explore our curated collection of watches that blend style and precision seamlessly.
                        </p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6>Useful Links</h6>
                        <p><a href="{% url 'categories' %}">Category</a></p>
                        <p><a href="{% url "About" %}">About Us</a></p>
                        <p><a href="{% url "contact_us" %}">Contact Us</a></p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6>Contact</h6>
                        <p><i class="fas fa-home mr-3"></i> Kalyan, Thane 421306, Mumbai</p>
                        <p><i class="fas fa-envelope mr-3"></i> timezoneltd2024@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> +91 8097892329</p>
                    </div>
                </div>
            </section>

            <hr>

            <section class="p-3">
                <div class="row d-flex align-items-center">
                    <div class="col-md-7 col-lg-8 text-center text-md-start">
                        <p class="mb-0">© 2025 Copyright: <a href="#" class="text-white">TimeZoneLTD.com</a></p>
                    </div>

                    <div class="col-md-5 col-lg-4 text-center text-md-end">
                        <a class="btn btn-floating m-1" role="button" href="https://www.facebook.com" target="_blank" title="Facebook"><i class="bi bi-facebook"></i></a>
                        <a class="btn btn-floating m-1" role="button" href="https://twitter.com" target="_blank" title="Twitter"><i class="bi bi-twitter"></i></a>
                        <a class="btn btn-floating m-1" role="button" href="https://www.google.com" target="_blank" title="Google"><i class="bi bi-google"></i></a>
                        <a class="btn btn-floating m-1" role="button" href="https://www.instagram.com" target="_blank" title="Instagram"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </section>
        </div>
    </footer>
</div>
