{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}?v=1">

<section class="bsb-service-7 py-5 py-xl-8 servics-section">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                <h3 class="mb-2 text-uppercase text-center service-title">Watch Services</h3>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" id="second-cont">
                <div class="service-container">
                    <div class="row">
                        <div class="col-12 col-md-4 p-0">
                            <div class="card text-center">
                                <div class="card-body">
                                    <i class="bi bi-basket2-fill icon"></i>
                                    <h4 class="card-title">Watch Strategy</h4>
                                    <p class="card-text">Developing strategies for the perfect watch collection, including market trends and understanding customer preferences for luxury and functional timepieces.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 p-0">
                            <div class="card text-center">
                                <div class="card-body">
                                    <i class="bi bi-rocket icon"></i>
                                    <h4 class="card-title">Watch Design</h4>
                                    <p class="card-text">Creating unique designs and prototypes of watches, ensuring aesthetic appeal and functionality, and using the latest trends in the watch industry.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 p-0">
                            <div class="card text-center">
                                <div class="card-body">
                                    <i class="bi bi-incognito icon"></i>
                                    <h4 class="card-title">Watch Development</h4>
                                    <p class="card-text">Building the final product, from assembling components to integrating advanced features like smartwatch functionalities and durable materials.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
